body {
  text-align: center;
}

#countdown-heading {
  font-size: 2.7em;
  font-weight: 100;
}

#timer {
  font-size: 8.5em;
  font-weight: 100;
  margin: 0 auto;
}

#timer div {
  display: inline-block;
  margin: 5px;
  color: #6fa2ef;
}

#timer div span {
  color: #6fa2ef;
  display: block;
  font-size: .35em;
  font-weight: 400;
}
