@font-face {
  font-family: 'arvo_regular';
  src: url('../fonts/arvo.woff2') format('woff2'),
       url('../fonts/arvo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'arvo_regular', sans-serif;
  font-weight: 400;
  padding: 10px;
  color: #49495d;
}

a {
  text-decoration: none;
  color: #333;
  border-bottom: 3px solid #6fa2ef;
}

a:hover {
  color: #6fa2ef
}

.block-list span {
  display: block;
  padding-top: 12px;
  font-size: 15px;
  color: gray;
}

.block-list li {
  padding-bottom: 12px;
}

.inline-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.inline-list li {
  display: inline-block;
}

.inline-list li:after {
  content: " \00b7";
}

.inline-list li:last-child:after {
  content: none;
}
